body {
  background-color: #3aa1b1;
  overflow-y: scroll;
}
body::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: none;
}

body::-webkit-scrollbar {
  width: 5px;
}

body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: black;
}

/* navbar */
.navbar {
  transition: all 0.5s;
}
/* end navbar */

/* header */
/* responsive header section */
/* hp */
@media (max-width: 600px) {
  #animated {
    display: none;
  }
}
/* end of header section */

#animated {
  height: 500px;
}

/* about content */
#event {
  background-color: rgb(255, 255, 255);
}

#event .divider {
  width: 30%;
  height: 3px;
  background: #000000;
}

#event h1 {
  color: #3aa1b1;
}

#event #button-event {
  transition: all 0.5s;
  border: 1px solid black;
}
#event #button-event:hover {
  background-color: #3aa1b1;
  color: #fff;
  padding-right: 30px;
  padding-left: 30px;
  border: none;
}

/* end of event content */

/* program content */
#program .divider {
  width: 30%;
  height: 5px;
  background-color: #ffffff;
}

#program h1 {
  color: #ffffff;
}
.content .textBox {
  position: relative;
  max-width: 600px;
}

.content .textBox h2 {
  color: rgb(0, 0, 0);
  font-size: 4em;
  line-height: 1.4em;
  font-weight: 500;
  min-height: 270px;
  transition-delay: 1.7s;
}

.content .textBox h2 span {
  color: #ffffff;
  font-size: 1em;
  font-weight: 900;
}

.content .textBox p {
  color: rgb(255, 255, 255);
  transition-delay: 1.7s;
}

.content .textBox a {
  margin-top: 20px;
  background-color: #000000;
  padding: 8px 20px;
  font-weight: 500;
}

.content .imgBox {
  display: flex;
  justify-content: center;
}

.content .imgBox img {
  max-width: 540px;
}

/* thumbnail img */
.thumb img {
  background-color: #fff;
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  cursor: pointer;
  transition: all 0.5s;
  max-width: 120px;
}

.thumb img:hover {
  transform: translateY(-20px);
}

/* responsive project section */
/* hp */
@media (max-width: 600px) {
  .content .imgBox {
    display: none;
  }
}

/* end of project section */

/* fab whatsapp */
.float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #0c9;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  box-shadow: 2px 2px 3px #999;
}

.my-float {
  margin-top: 22px;
}
