* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(112, 186, 216);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}

.box {
  line-height: 1.5;
  color: #fff;
  display: flex;
  border-radius: 8px;
  min-height: 300px;
  transition: all 0.5s;

  background: url(../img/bg_card_1.jpg);

  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.7);
  border-radius: 8px;
}

.box p {
  font-size: 12px;
}

.box .btn {
  outline: none;
  border: none;
  padding: 5px 10px;
  background: transparent;
  cursor: pointer;
  color: white;
  margin: 10px 0 20px 0;
  border: 1px solid #fff;
  transition: all 0.5s;
}

.box .btn:hover {
  padding: 5px 20px;
}

.text {
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
  border-radius: 8px;
  transition: all 0.5s;
}

.text:hover {
  opacity: 1;
}

.box:hover {
  transform: translateY(10px);
}
