<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU"
      crossorigin="anonymous"
    />

    <!-- Homepage CSS -->
    <link rel="stylesheet" href="/assets/css/landingpage.css" />

    <title>Homepage</title>
  </head>
  <body class="container-fluid" id="container">
    <div class="row text-center mt-5">
      <div class="col-md-4 mb-5">
        <!-- box pertama -->
        <div class="box">
          <div class="text">
            <h1>Card One</h1>
            <p>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minus,
              repudiandae. Porro explicabo aliquam voluptatibus aperiam.
            </p>
            <button class="btn">Read</button>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-5">
        <!-- box pertama -->
        <div class="box">
          <div class="text">
            <h1>Card One</h1>
            <p>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minus,
              repudiandae. Porro explicabo aliquam voluptatibus aperiam.
            </p>
            <button class="btn">Read</button>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-5">
        <!-- box pertama -->
        <div class="box">
          <div class="text">
            <h1>Card One</h1>
            <p>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minus,
              repudiandae. Porro explicabo aliquam voluptatibus aperiam.
            </p>
            <button class="btn">Read</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
