<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- favicon -->
    <link
      rel="apple-touch-icon"
      sizes="57x57"
      href="/assets/favicon/apple-icon-57x57.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="60x60"
      href="/assets/favicon/apple-icon-60x60.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="72x72"
      href="/assets/favicon/apple-icon-72x72.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="76x76"
      href="/assets/favicon/apple-icon-76x76.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="114x114"
      href="/assets/favicon/apple-icon-114x114.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="120x120"
      href="/assets/favicon/apple-icon-120x120.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="144x144"
      href="/assets/favicon/apple-icon-144x144.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="152x152"
      href="/assets/favicon/apple-icon-152x152.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/assets/favicon/apple-icon-180x180.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="192x192"
      href="/assets/favicon/android-icon-192x192.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/assets/favicon/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="96x96"
      href="/assets/favicon/favicon-96x96.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/assets/favicon/favicon-16x16.png"
    />
    <link rel="manifest" href="/assets/favicon/manifest.json" />
    <meta name="msapplication-TileColor" content="#ffffff" />
    <meta
      name="msapplication-TileImage"
      content="/assets/favicon/ms-icon-144x144.png"
    />
    <meta name="theme-color" content="#ffffff" />

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU"
      crossorigin="anonymous"
    />

    <!-- Homepage CSS -->
    <link rel="stylesheet" href="/assets/css/landingpage/landingpage.css" />
    <link rel="stylesheet" href="/assets/css/animation.css" />

    <!-- fontawesome -->
    <link href="/assets/font-awesome/css/all.css" rel="stylesheet" />
    <!--load all styles -->

    <title>Ummacademy</title>
  </head>
  <body>
    <!-- navbar -->
    <nav id="navbar" class="navbar navbar-expand-lg navbar-dark py-3">
      <div class="container">
        <a class="navbar-brand" href="">
          <img src="/assets/img/logo/logo.png" alt="" width="60" height="54" />
          <span> Ummacademy</span>
        </a>

        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNavDropdown"
          aria-controls="navbarNavDropdown"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav ms-auto">
            <!-- ummapedia -->
            <li class="nav-item me-2">
              <a class="nav-link text-white" href="#program">Program</a>
            </li>

            <!-- try out online -->
            <li class="nav-item me-2 dropdown">
              <a
                class="nav-link dropdown-toggle text-white"
                href="#"
                id="navbarDropdownMenuLink"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Try Out Online
              </a>
              <ul
                class="dropdown-menu"
                aria-labelledby="navbarDropdownMenuLink"
              >
                <li>
                  <a class="dropdown-item" href="#">Gratis TO CBT</a>
                </li>

                <li>
                  <a class="dropdown-item" href="#">Gratis TO OSCE</a>
                </li>

                <li>
                  <a class="dropdown-item" href="#">Paket Tryout</a>
                </li>
              </ul>
            </li>

            <!-- layanan -->
            <li class="nav-item me-2 dropdown">
              <a
                class="nav-link dropdown-toggle text-white"
                href="#"
                id="navbarDropdownMenuLink"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Layanan
              </a>
              <ul
                class="dropdown-menu"
                aria-labelledby="navbarDropdownMenuLink"
              >
                <li>
                  <a class="dropdown-item" href="#">FAQ</a>
                </li>

                <li>
                  <a class="dropdown-item" href="#">Cara Daftar</a>
                </li>
              </ul>
            </li>

            <!-- ummapedia -->
            <li class="nav-item me-2">
              <a class="nav-link text-white" href="#">UmmaPedia</a>
            </li>

            <!-- Sign in -->
            <li class="nav-item me-2 mb-2">
              <a class="nav-link btn btn-light text-dark px-3" href="#"
                >Sign in</a
              >
            </li>

            <!-- Sign Up -->
            <li class="nav-item me-2 mb-2">
              <a class="nav-link btn btn-dark text-white px-3" href="#"
                >Sign in</a
              >
            </li>

            <!-- end list -->
          </ul>
        </div>
      </div>
    </nav>

    <!-- end navbar -->

    <!-- header -->
    <section id="header" class="container">
      <div class="container col-xxl-8 px-4 py-5">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
          <div class="col-10 col-sm-8 col-lg-6 fade-right" id="animated">
            <div
              id="carouselExampleIndicators"
              class="carousel slide"
              data-bs-ride="carousel"
            >
              <div class="carousel-indicators">
                <button
                  type="button"
                  data-bs-target="#carouselExampleIndicators"
                  data-bs-slide-to="0"
                  class="active"
                  aria-current="true"
                  aria-label="Slide 1"
                ></button>
                <button
                  type="button"
                  data-bs-target="#carouselExampleIndicators"
                  data-bs-slide-to="1"
                  aria-label="Slide 2"
                ></button>
                <button
                  type="button"
                  data-bs-target="#carouselExampleIndicators"
                  data-bs-slide-to="2"
                  aria-label="Slide 3"
                ></button>
                <button
                  type="button"
                  data-bs-target="#carouselExampleIndicators"
                  data-bs-slide-to="3"
                  aria-label="Slide 4"
                ></button>
              </div>
              <div class="carousel-inner text-center">
                <div class="carousel-item active">
                  <img
                    id="animated"
                    src="/assets/img/landingpage/BA.png"
                    class="d-block mx-lg-auto img-fluid"
                    alt="Bootstrap Themes"
                    height="500"
                    loading="lazy"
                  />
                </div>
                <div class="carousel-item">
                  <img
                    id="animated"
                    src="/assets/img/landingpage/BA2.png"
                    class="d-block mx-lg-auto img-fluid"
                    alt="Bootstrap Themes"
                    height="500"
                    loading="lazy"
                  />
                </div>
                <div class="carousel-item">
                  <img
                    id="animated"
                    src="/assets/img/landingpage/BA3.png"
                    class="d-block mx-lg-auto img-fluid"
                    alt="Bootstrap Themes"
                    height="500"
                    loading="lazy"
                  />
                </div>
                <div class="carousel-item">
                  <img
                    id="animated"
                    src="/assets/img/landingpage/BA.png"
                    class="d-block mx-lg-auto img-fluid"
                    alt="Bootstrap Themes"
                    height="500"
                    loading="lazy"
                  />
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6 text-center">
            <h1
              id="header-name"
              class="display-5 fw-bold fs-1 lh-1 mb-3 text-white fade-left"
            >
              Ummacademy
            </h1>
            <p class="lead text-center fs-5 text-white fade-left">
              Ibu dan Kawan Belajar Mahasiswa Kedokteran Gigi, Kedokteran dan
              Kesehatan Umum Saatnya, #BelajarMudahAksesMurah Di mana saja dan
              Kapan saja
            </p>
            <button
              type="button"
              class="btn btn-primary btn-lg px-4 me-md-2 fade-left"
            >
              Learn More
            </button>
          </div>
        </div>
      </div>
    </section>
    <!-- end header -->
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
      <path
        fill="#fff"
        fill-opacity="1"
        d="M0,32L26.7,74.7C53.3,117,107,203,160,197.3C213.3,192,267,96,320,96C373.3,96,427,192,480,218.7C533.3,245,587,203,640,170.7C693.3,139,747,117,800,90.7C853.3,64,907,32,960,64C1013.3,96,1067,192,1120,218.7C1173.3,245,1227,203,1280,181.3C1333.3,160,1387,160,1413,160L1440,160L1440,320L1413.3,320C1386.7,320,1333,320,1280,320C1226.7,320,1173,320,1120,320C1066.7,320,1013,320,960,320C906.7,320,853,320,800,320C746.7,320,693,320,640,320C586.7,320,533,320,480,320C426.7,320,373,320,320,320C266.7,320,213,320,160,320C106.7,320,53,320,27,320L0,320Z"
      ></path>
    </svg>

    <!-- Event section -->
    <section id="event" class="section">
      <!-- judul -->
      <div class="container fade-in">
        <div class="row justify-content-center mb-5">
          <div class="col-md-8 text-center">
            <h1 class="heading">#Event<b>BuatKamu</b></h1>
            <hr class="divider mx-auto mb-5" />
            <p class="mb-4 lead">
              Event - event Ummacademy bakal bikin kamu makin maju, makanya
              jangan lewatin deh event - event dari Ummacademy .
            </p>
            <p class="mb-0">
              <a href="" class="btn rounded-pill" id="button-event"
                >Cari Tahu Lebih Lanjut Yuk
                <span><i class="fas fa-caret-right"></i></span>
              </a>
            </p>
          </div>
        </div>

        <!-- card slider -->

        <div
          id="carouselExampleCaptions"
          class="carousel slide"
          data-bs-ride="carousel"
        >
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="card mb-3">
                <img
                  src="/assets/img/banner.jfif"
                  class="card-img-top"
                  alt="..."
                />
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">
                    This is a wider card with supporting text below as a natural
                    lead-in to additional content. This content is a little bit
                    longer.
                  </p>
                  <p class="card-text">
                    <small class="text-muted">Last updated 3 mins ago</small>
                  </p>
                </div>
              </div>
              <div class="carousel-caption d-none d-md-block">
                <h5>First slide label</h5>
                <p>
                  Some representative placeholder content for the first slide.
                </p>
              </div>
            </div>
            <!-- kedua -->
            <div class="carousel-item">
              <div class="card mb-3">
                <img
                  src="/assets/img/bg_card_1.jpg"
                  class="card-img-top"
                  alt="..."
                />
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">
                    This is a wider card with supporting text below as a natural
                    lead-in to additional content. This content is a little bit
                    longer.
                  </p>
                  <p class="card-text">
                    <small class="text-muted">Last updated 3 mins ago</small>
                  </p>
                </div>
              </div>
              <div class="carousel-caption d-none d-md-block">
                <h5>First slide label</h5>
                <p>
                  Some representative placeholder content for the first slide.
                </p>
              </div>
            </div>
          </div>
        </div>

        <!-- end card slider -->
      </div>
    </section>
    <!-- end of event section -->

    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
      <path
        fill="#fff"
        fill-opacity="1"
        d="M0,192L34.3,181.3C68.6,171,137,149,206,170.7C274.3,192,343,256,411,245.3C480,235,549,149,617,112C685.7,75,754,85,823,112C891.4,139,960,181,1029,186.7C1097.1,192,1166,160,1234,165.3C1302.9,171,1371,213,1406,234.7L1440,256L1440,0L1405.7,0C1371.4,0,1303,0,1234,0C1165.7,0,1097,0,1029,0C960,0,891,0,823,0C754.3,0,686,0,617,0C548.6,0,480,0,411,0C342.9,0,274,0,206,0C137.1,0,69,0,34,0L0,0Z"
      ></path>
    </svg>

    <!-- Program section -->
    <section id="program" class="mb-5">
      <!-- judul -->
      <h1 class="text-center">#Selangkah<b>LebihMaju</b></h1>
      <hr class="divider mx-auto mb-5" />
      <div class="container">
        <!-- content of program -->
        <div class="content row my-5">
          <!-- text content -->
          <div class="textBox col-lg-6">
            <h2 id="judul-program" class="fade-right">
              Kelas <br />
              <span>Pra-Klinik & Klinik </span>
            </h2>
            <p id="isi-program" class="fade-right">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt,
              fuga! Tempore, expedita rem! Velit dolore ab est recusandae eaque
              praesentium tenetur repellendus nisi facilis dolorem, vero iure
              dolor omnis similique voluptas quaerat neque ea tempora eveniet
              error. Expedita, sapiente esse!
            </p>
            <a
              id="button-program"
              class="btn text-white rounded-pill fade-right"
              href=""
              >Learn More</a
            >
          </div>
          <!-- end of text content -->
          <!-- img content -->
          <div class="imgBox col-lg-6">
            <!-- img -->
            <img
              class="imgContent fade-left"
              src="/assets/img/landingpage/program/program1.jpg"
              alt=""
            />
          </div>
          <!-- end of img Content -->
        </div>
        <!-- end content program -->

        <!-- thumbnail -->
        <div class="d-flex justify-content-center thumb fade-down">
          <img
            id="thumb-program1"
            class="shadow p-3 border border-5 border-danger"
            height="100"
            src="https://www.ruangguru.com/hubfs/1%20Homepage%20RG/logotype_rubel_L.svg"
            alt="kelas pra klinik"
            onclick="imgSlider('/assets/img/landingpage/program/program1.jpg'); textChange(1)"
          />

          <img
            id="thumb-program2"
            class="shadow p-3"
            height="100"
            src="https://www.ruangguru.com/hubfs/1%20Homepage%20RG/logotype_BAO_L.svg"
            alt="kelas UKMP2DG"
            onclick="imgSlider('/assets/img/landingpage/program/program2.jpg'); textChange(2)"
          />
        </div>

        <!-- end thumbnail -->
      </div>
    </section>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
      <path
        fill="#f3f4f5"
        fill-opacity="1"
        d="M0,224L40,229.3C80,235,160,245,240,250.7C320,256,400,256,480,234.7C560,213,640,171,720,170.7C800,171,880,213,960,229.3C1040,245,1120,235,1200,197.3C1280,160,1360,96,1400,64L1440,32L1440,320L1400,320C1360,320,1280,320,1200,320C1120,320,1040,320,960,320C880,320,800,320,720,320C640,320,560,320,480,320C400,320,320,320,240,320C160,320,80,320,40,320L0,320Z"
      ></path>
    </svg>

    <!-- service section -->
    <section id="event" class="section">
      <!-- judul -->
      <div class="container fade-down">
        <div class="row justify-content-center mb-5">
          <div class="col-md-8 text-center">
            <h1 class="heading">#Umma<b>Bantuin</b></h1>
            <hr class="divider mx-auto mb-5" />
            <p class="mb-4 lead">
              Event - event Ummacademy bakal bikin kamu makin maju, makanya
              jangan lewatin deh event - event dari Ummacademy .
            </p>
          </div>
        </div>
      </div>
    </section>
    <!-- end of service section -->

    <!-- fab -->
    <a href="" class="float">
      <img src="/assets/img/logo/logo.png" class="my-float" />
    </a>
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
      crossorigin="anonymous"
    ></script>

    <script src="/assets/js/landingpage.js"></script>
  </body>
</html>
